*{
    margin:0;
    padding:0;
}

.post{
    width: 400px;
    border: 2px solid black;
    margin: 20px auto;
    font-family:'Instagram Sans', sans-serif;
    font-size: small;
}

.post-header{
    display:flex;
    justify-content: space-between;
}

.header-left, .header-right{
    display:flex;
    align-items: center;
    padding: 5px;

}

.icon{
    color:black;
    font-size: 28px;
}
.post-image{
    width: 100%;
    height: 300px;
    }

.icons-footer{
display:flex;

}

.post-footer{
    padding:5px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.text-footer{
    padding:10px;
    padding-bottom: 20px;
    width: 97%;
    }

.fa-heart:hover{
    color:red;
    cursor:pointer;   
    }

.fa-comment:hover{
    color:rgb(54, 54, 54);
    cursor:pointer;
}

.fa-paper-plane:hover{
    color:rgb(54, 54, 54);
    cursor:pointer;
}

.fa-bookmark:hover{
    color:rgb(54, 54, 54);
    cursor:pointer;
}

.post-image:hover{
    cursor:pointer;
    }